* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #a3a2a1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 20px;
flex-grow: 1;
    width: 100%;
}
h1 {
    font-size: 36px;
    color: #2b8a3e; 
    margin-bottom: 10px;
}


h2 {
    font-size: 24px;
    color: #0073e6;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: #d9534f;
    margin-bottom: 8px;
    text-decoration: underline;
}

.logo-container {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}
.header-container {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding: 20px;
}

.header-container h1 {
    font-size: 36px;
    color: #333;
}

.header-container p {
    font-size: 18px;
    color: #47eb15;
}

.navbar-container {
    grid-column: 1 / span 2; 
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    background-color: #1be544;
    padding: 10px 0;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-container a:hover {
    text-decoration: underline;
}


.services-container {
    grid-column: 1; 
    grid-row: 3;
    background-color: #8b8989;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.services-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.services-container ul {
    list-style-type: none;
    padding: 0;
}

.services-container li {
    font-size: 20px;
    padding: 5px 0;
}

.services-container a {
    text-decoration: none;
    color: #333;
}

.services-container a:hover
{
    text-decoration: underline;
}
.service-description-container 
{
    grid-column: 2;
    grid-row: 3;
    background-color: #ffffff;
    padding: 30px;
    overflow-y: hidden;
}
.service-description-container h2 
{
    font-size: 24px;
    color: #333;
}
:root:not(:has(:target)) #main {
    display: block;
}
:root:not(:has(:target)) .content-page {
    display: none;
}
.content-page {
    display: none; 
}
.content-page:target {
    display: block; 
}

h2 {
    text-transform: uppercase; 
    font-weight: bold;
    color: rgb(8, 222, 108);
}
